@using Model
@using Model.Services
@model Model.Equipe

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>Equipe</h4>
<hr />
<div class="row">
    
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <label>Pessoas Disponiveis</label>
            <div class="form-group">
                @foreach(Pessoa pessoa in await ConsultaService.GetPessoasDisponiveis())
                {
                    <div class="checkbox">
                    <input type="checkbox" id="pessoa" name="pessoa" value="@pessoa.Id">
                    <label> @pessoa.Nome </label><br>
                    </div>
                }
            </div>
            <div class="form-group">
			    <label>Escolha uma cidade:</label>
			    <select name="cidadeEquipecreate" id="cidadeEquipecreate">
                    <option value="none">Nenhuma</option>
					    @foreach (Cidade cidade in await ConsultaService.GetCidades())
					    {
					    <option value="@cidade.Id">@cidade.Nome</option>
					    }
			    </select>
		    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
